@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


/*config geral */
* {
    list-style: none;
    text-decoration: none important;
    font-size: 62.5%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

a {
    text-decoration-line: none !important;
}




body {
    font-family: 'Nunito', sans-serif;
}

/*primeiro menu*/
.nav1 {
    background-color: #6773DD;
    width: 100%;
    min-height: 60px;
    max-height: auto;

}

.nav1 li {
    display: flex;
    list-style: none;
    margin: 20px;


}


.nav1 ul {
    display: flex;
    float: right;
    display: flex;
    right: 60px;
    text-decoration: none;

}

.nav1 a {
    text-decoration: none;
    color: #F5EBF7;
    font-weight: 800;
    font-size: 1.3rem;

}


/*segundo menu*/

.checkbtn {
    font-size: 0px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 10px;
    cursor: pointer;
    display: none;

}

.checkbtn i {
    font-size: 20px;
}

#check {
    display: none;
}

.menu {
    background-color: #111672;
    width: 100%;
    min-height: 100px;
    max-height: auto;
    text-decoration: none;
}

.menu ul {
    text-decoration: none;
    list-style: none;
    justify-content: center;


}

.menu a {
    text-decoration: none;
    color: azure;
    padding: 1.0rem;
    font-weight: 700;
    font-size: 1.5rem;


}

.menu li {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    position: relative;
    left: 420px;
    display: inline-block;






}

.logo {
    position: absolute;
    height: 70px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    left: 100px;
}

/*barra bem vindo*/

.carousel {
    height: 100%;
}

.vindo {
    background-color: #1E73BE;
    min-height: 144px;
    max-height: auto;
    width: 100%;
    color: #FEFEFF;
    text-align: center;


}

.vindo h1 {
    font-size: 3.7rem;
    padding-top: 4.4rem;
    margin-bottom: 0px;



}

.vindo p {
    font-size: 20px;
    margin-bottom: 10px;
}

/*div boleto,wi-fi,Central*/

.fas {
    font-size: 95px;
}

.container2 {
    display: flex;
}

.principal {
    background-color: #DBDBDB;
    width: 100%;
    min-height: 591px;
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;




}

.teste i {
    transform: translatey(-50%);
    border-radius: 50%;
    border: 15px solid #81db9e;

}

.fas fa-check-circle :hover {
    background-color: #6D83E8;

}

.fa-user {
    color: #FEFEFF;
    background-color: #6D83E8;

}

.fa-wifi {
    color: #FEFEFF;
    background-color: #6D83E8;
}

.teste {
    cursor: pointer;
    background-color: #FFFFFF;
    height: 411px;
    width: 360px;
    border-radius: 10px;
    margin: 15px;
    color: #6F89D9;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 70px;




}


.teste h2 {
    font-size: 2.8rem;


}


.teste p {

    font-size: 1.7rem;
}

.teste:hover {

    background-color: #8DDDA7;
    transform: scale(1.02);
    transition: all ease 0.3s;
    color: #FDFEFE;
}

/*botão */

.botao {

    background-color: #6A84D8;
    color: #FEFEFF;
    height: 49px;
    width: 147.89px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;


}

.botao:hover {
    background-color: #637ED6;
    transition: all ease 0.3s;
}

/*plano fibra*/
.planos h1,
.planos h3 {
    margin: 5px;
}

.planos {
    display: flex;
    background-color: #962121;
    width: 100%;
    min-height: 190px;
    max-height: auto;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    flex-direction: column;


}

.planos h1 {
    font-size: 56px;
}

.planos h3 {
    font-size: 2.4rem;
    color: #EEEE22;
}

/*div preços */

.containerpreco {

    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    min-height: 725px;
    max-height: auto;
    width: 100%;



}

.preco {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 50px;
    width: auto;
}

.preco img {
    max-height: 250px;
    min-height: auto;

}

.preco h1 {
    color: #EDED22;
    font-size: 4.5rem;
}

.preco h3 {
    color: #818100;
    font-size: 1.7rem;
}

.preco p {
    font-size: 1.7rem;
    color: #ADADAD;
}

.paragrafo2 {
    margin-top: 20px;
    font-size: 1.8rem;
}

/* botao preço*/

.botao2 {
    font-size: 1.5rem;
    background-color: #000000;
    color: #EDED22;
    padding: 10px 10px;
    width: 19.3rem;
    margin-left: 20px;
    border-color: #EDED22;
    border-radius: 10px;
    cursor: pointer;
}

.botao2:hover {
    background-color: #6773DD;
    transition: all ease 0.5s;
}

/*div dicas*/

.wpp {
    background-color: #000000;
    color: #D8D8D8;
    text-align: center;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    min-height: 100px;
    max-height: auto;

}

.wpp p {
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.wpp h1 {
    font-size: 3.6rem;
}

/*Div APP*/

.containerapp {
    background-color: #ECECEC;
    display: flex;

}

.app {
    min-height: 485px;
    max-height: auto;
    width: 323px;
    margin-top: 90px;
    margin-left: 90px;



}

.app h1 {
    font-size: 4.5rem;
    margin-bottom: 35px;


}

.p1 {
    font-size: 1.7rem;
    color: #6873DD;
}

.p2 {
    font-size: 1.7rem;
    color: #808080;
}

.app h1 {
    color: #6873DD;
}

/* div img*/

.divimg {
    float: right;
}

.divimg img {
    max-width: 100%;
    height: auto;

}

/*botao android*/

.butao {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.butao {
    font-size: 1.4rem;
    height: 48px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    color: #F7F7F7;
}

.android {
    background-color: #80BC7B;
    border-color: #59A453;
    color: #F7F7F7;
    width: 118px;

}

.android:hover {
    background-color: #72B26D;
    transition: all ease 0.5s;
}


.ios {
    font-size: 1.4rem;
    background-color: #0B8DCD;
    width: 132px;
    height: 48px;
    border-color: #0074AD;


}

.fab {
    color: #FFFFFE !important;
}

.ios:hover {
    background-color: #288ABA;
    transition: all ease 0.5s;
}

/*dicas e dúvidas*/

.dicas {

    background-color: #E3A51A;
    text-align: center;
    margin: 0px;
    min-height: 144px;
    max-height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.dicas h1 {
    font-size: 3.6rem;
    color: #FFFFFE;
}

.dicas h2 {
    margin-top: 0px;
    font-size: 2.0rem;
    color: #FCF6E9;

    font-weight: inherit;
}



.img-fluid d-block {
    width: 1050px;
    height: 250px;
}

.carousel-item active {
    height: 1550px;
}


/* PERGUNTAS ( Accordion)*/
.containerperguntas {
    min-height: 580px;
    max-height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: #F1CA13;
    padding: 20px;
}

.perguntas {
    width: 80%;
    height: auto;
}

.accordion h5 {
    font-size: 1.8rem;
    font-weight: 400;
}

.accordion {
    background-color: #F9F9F9;
    color: #444;
    cursor: pointer;
    padding: 1.8rem;
    text-align: left;
    transition: 0.8s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

/* Style the accordion panel. Note: hidden by default */
.panel {
    font-size: 2.5rem;
    padding: 0 1.8rem;
    background-color: white;
    height: auto;
    display: none;
    overflow: hidden;
    width: 100%;
}


/* footer */

.footer1 {
    min-height: 897px;
    max-height: auto;
    display: flex;
    background-color: #111672;
    color: ivory;

}

.missao {

    margin-top: 92px;
    max-width: 585px;
    min-height: auto;
    margin-left: 50px;

}

.missao p {

    font-size: 1.7rem;
}

.missao h1 {
    font-size: 2.5rem;
    color: #FFFFFF;

}

.horario {
    margin-top: 98px;
    margin-left: 70px;
    margin-right: 43px;
}

.horario h1 {
    font-size: 2.5rem;
}

.horario h2 {
    font-size: 1.8rem;
}

.horario a {
    color: #6773DD;
    font-size: 2.5rem;
    font-weight: 500;


}

.horario p {
    font-size: 1.8rem;
}

.horario a {
    color: #6773DD;

}

.siga {

    display: flex;
    flex-direction: column;
}

.titulo1 {

    margin-top: 9.8rem;

}

.siga p {

    font-size: 2rem;
}

.call {
    margin-top: 3.0rem;

}

.siga h1 {

    font-size: 2.5rem;

}

.siga h2 {
    font-weight: 400;
    font-size: 1.8rem;
    color: #E7F206;
}

.num {
    color: #81DA9E;
    font-size: 2.5rem;
    font-weight: bolder;
}

.link {
    margin: 5px;
    color: #A1A3C7;
    font-weight: 500;
    font-size: 1.7rem;
    text-decoration: none;
}

.fab {
    color: #DD9935;
    font-size: 2.5rem;
    margin: 5px;
}

.icone {

    display: flex;
}


/*div copy*/


.copy {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #D6D3D6;
    text-align: center;
    background-color: #000000;
    min-height: 70px;
    max-height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy a {
    font-size: 1.4rem;
    columns: #60D3A0;
}

@media (max-width: 1075px) {
    .menu a {
        left: 340px;
        font-size: 1.3rem;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
        width: 100%;

    }

    .fas {
        float: right;
    }

    ul {
        display: none;
    }

    #check:checked~ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }


    containerlogo {
        z-index: 11;
    }
}

/*
ul 
    display: flex;
    flex-direction: columns;
    width: 100%;
    height: 100vh;
    background: #111672;
    top: 80px;

    text-align: center;
    transition: all .5s;
    z-index: 10;*/



menu ul li {
    display: flex;
    display: flex;
    flex-direction: column;
}

menu ul li a {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

a.active {
    background: none;
    color: #5434af;
}

#check:checked~ul {
    left: 0;
}

@media (max-width: 767px) {

    .html {
        font-size: 50%;
    }

    .principal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .containerapp {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    .containerpreco {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .divimg img {
        height: 377px;

    }
}

@media (max-width: 525px) {

    #check:checked~ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;

    }
}